table.account_status
  width: 100%
  text-align: center

  tr
    padding: 0 185px
    display: flex
    flex-direction: row
    justify-content: space-between

  >thead>tr>th
    text-transform: uppercase
    color: #6c7888

  >tbody

