@import "variables.sass"

section.logged_in>.content>main>.statistics>.content
  width: 100%
  margin: 0 0 100px 0
  background: white
  border: solid 1px map-get($mainColors, sectionBorder)

  @import './info.sass'
  @import './periodSelect.sass'

  >section#statistics_chart
    display: flex
    flex-direction: column
    align-items: center
    max-width: 1380px
    margin: auto